header,
main,
footer {
    padding-left: 300px;
}

a {
    color: #2E00FF !important;
}

.sidenav .col {
    padding: 24px;
}

.sidenav li a {
    color: rgba(0, 0, 0, 0.87) !important;
}

.brand-logo {
    display: block;
    width: 80px;
    height: 43px;
    margin-bottom: 24px;
    background-image: url(/img/logo.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 50%;
}

.nav-items {
    margin-bottom: 32px;
}

.sidenav .collection {
    border: 0 !important;
}

.sidenav .collection-header {
    padding: 0 !important;
    border-bottom: 0 !important;
}

.sidenav .collection a {
    padding: 0 !important;
    background-color: transparent !important;
    transition: 0.25s ease;
}

.collection a:hover {
    color: #999999 !important;
}

.user-actions > li > a {
    margin: 0 !important;
    color: #FFF !important;
}

.dropdown-content li {
    min-height: auto !important;
    line-height: 24px !important;
}

.dropdown-content li a {
    height: auto !important;
    padding: 16px 24px !important;
    line-height: 24px;
}

.select-wrapper input.select-dropdown:focus {
    border-bottom-color: #2E00FF !important;
}

[type="checkbox"].filled-in:checked + span:not(.lever):after {
    border-color: #2E00FF !important;
    background-color: #2E00FF !important;
}

.btn {
    background-color: #2E00FF !important;
}

.btn:hover {
    background-color: #2400C9 !important;
}

a.btn {
    color: #FFF !important;
}

.dropdown-content li > a,
.dropdown-content li > span {
    color: #2E00FF !important;
}

main {
    padding-top: 32px;
}

.dashboard__heading {
    margin-top: 0;
    margin-bottom: 24px;
}

.dynamic-content {
    margin-top: 25px;
}

.dynamic-content__inner {
    overflow-x: auto;
    max-width: 100%;
}

.checkbox-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.datepicker-controls button:focus {
    background-color: #2E00FF !important;
}

.datepicker-date-display {
    background-color: #2E00FF !important;
}

.datepicker-table td.is-today {
    color: #2E00FF !important;
}

.datepicker-table td.is-selected {
    background-color: #2E00FF !important;
}

.datepicker-table td.is-today.is-selected {
    color: #FFF !important;
}

.datepicker-day-button:focus {
    background-color: rgba(46, 0, 255, 0.25);
}

.datepicker-cancel,
.datepicker-clear,
.datepicker-today,
.datepicker-done {
    color: #2E00FF !important;
}

.datepicker-calendar .month-prev:focus svg,
.datepicker-calendar .month-next:focus svg {
    fill: #FFF !important;
}

#tooltip-wrap {
    background-color: #fff;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, .06);
    position: fixed;
    opacity: 0;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    font-size: 13px;
}

#tooltip-wrap p {
    margin-bottom: 0;
}

#tooltip-wrap.active {
    opacity: 1;
}

.hidden {
    display: none;
}

.table_wrap {
    max-width: 100%;
    overflow-x: auto;
}

.tac {
    text-align: center;
}


/*loader */
body.preloader {
    height: 100%;
    width: 100%;
    overflow: hidden
}

.loader {
    display: none;
}

body.preloader .loader {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .3);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}


.table td .btn:not(:last-child) {
    /*margin-bottom: 16px;*/
}

.btn-group {
    display: flex;
    align-items: center;
}

.btn-group:not(:first-child) {
    margin-top: 32px;
}

.btn-group_offset-top-small:not(:first-child) {
    margin-top: 16px;
}

.btn-group .btn:not(:last-child) {
    margin-right: 16px;
}

span.triangle {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 10px;
    margin-left: 15px;
    margin-right: 7px;
}

span.triangle::after {
    content: '';
    position: absolute;
    left: 0;
}

span.plus-triangle.triangle::after {
    border: 10px solid transparent;
    border-bottom: 10px solid #23bb23;
    bottom: 0;
}

span.minus-triangle.triangle::after {
    border: 10px solid transparent;
    border-top: 10px solid #ec1f1f;
    top: 0;
}

.valid_label [type="checkbox"] + span:not(.lever) {
    padding-left: 25px;
}

.valid_label:first-child {
    margin-right: 15px;
}

.collection .collection-item, .collection.with-header .collection-header {
    border-bottom: unset;
}

.collection.with-header .collection-header:not(:first-child) {
    margin-top: 25px;
}

.nowrap {
    white-space: nowrap;
}

.mobile_wrapper {
    display: none;
}

@media (max-width: 992px) {
    main {
        padding-left: 0;
    }

    .mobile_wrapper {
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    }

    .mobile_wrapper .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .mobile_wrapper .brand-logo {
        margin-bottom: 0;
    }
}
